.renderPages {
  width: 50%;
  height: 50%;
  min-height: 500px;
  padding: 16px;
  background: #ebebeb;
  overflow: hidden;
  overflow-y: auto;
  z-index: -100000000;
  transition: all 0.2s;
}

.btn {
  border: none;
  background: #ebebeb;
  color: #757575;
  padding: 12px 16px;
  max-width: 50%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 400;
  cursor: pointer;
  border-top: 2px solid #fff;
  transition: all 0.2s;
  border-radius: 8px 8px 0 0;
  &:hover {
    background-color: #cecece;
  }
}
