.icon {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  background-attachment: initial;
  background-origin: initial;
  cursor: pointer;
  width: 48px;
  height: 48px;
  background-color: transparent;
  transition: all 0.2s;

  border-radius: 50%;

  &:hover {
    background-color: #ebebeb;
  }
}
