.messenger {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  .messagesContainer {
    flex: 1; /* Занимает оставшуюся высоту */
    overflow-y: auto; /* Добавляет вертикальную прокрутку */
    margin-bottom: 68px;
    margin-top: 78px;
  }
  .form {
    border-top: 2px solid #ebebeb;
    display: flex;
    align-items: flex-end;
    width: 100%;
    position: fixed;
    z-index: 10;
    bottom: 0;
    background: #fff;
    padding: 10px; /* Добавьте отступы для удобства */

    .submitButton {
      border: none;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 39px;
      height: 39px;
      cursor: pointer;
      transition: all 0.2s;
      border-radius: 4px;
    }
  }
}
