.footerWrap {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: auto;

  .btn {
    display: flex;
    border: none;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    padding: 12px 16px;
    border-radius: 8px;
    color: #222;
    background-color: transparent;
    transition: all 0.2s;
    cursor: pointer;
    width: 100%;
    gap: 8px;
    &:hover {
      background-color: #ebebeb;
    }
  }
}
